.main {
	margin: 16px auto;
	text-align: center;
    font-size: 18px;
    padding : 12px;
	display: block;
}
.main .text {
    text-align: left;
    display: inline-block;
}
.main .sub {
    text-align: left;
    display: inline-block;
}
.main .bgc {
    background: linear-gradient(transparent 0%, transparent 50%, #ffff00 50%, #ffff00 100%);
    font-weight: bold;
    display: inline-block;
}
.main .bgcl {
    background: linear-gradient(transparent 0%, transparent 50%, #5AFF19 50%, #5AFF19 100%);
    font-weight: bold;
    display: inline-block;
}
.main .bgcr {
    background: linear-gradient(transparent 0%, transparent 50%, #ff0000 50%, #ff0000 100%);
    font-weight: bold;
    display: inline-block;
}
.main .bgcb {
    background: linear-gradient(transparent 0%, transparent 50%, #6495ED 50%, #6495ED 100%);
    font-weight: bold;
    display: inline-block;
}